---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Contact - FMUNTENTH">
	<main>
		<div class="relative w-full h-[40rem]">
			<div class="text-center text-4xl text-white font-bold">
				Contact Us
			</div>
			<div class="grid grid-cols-1 gap-4 content-center place-items-center py-6 px-4">
				<div class="pb-20">
					<ContactForm />
				</div>
			</div>
		</div>
	</main>
</Layout>
