---
import Layout from '../layouts/Layout.astro';
import InfoCard from '../components/InfoCard.astro';
---

<Layout title="FMUNTENTH">
	<main>
		<div class="relative w-full h-[40rem]">
			<div class="grid place-items-center">
				<img width='400px' height ='400px' src="transparent.png" />
				<InfoCard>FMUNTENTH is a student design team at the Memorial University of Newfoundland that specialize in programming and building autonomous vehicles. Currently, there are limited opportunities for students to gain hands-on experience with autonomous control systems and AI control algorithms.  FMUNTENTH allows students to explore this area and develop skills that will benefit them in their chosen field. Founded in June 2021 by a capstone group, the team focuses on helping students at MUN develop skills about this growing industry.</InfoCard>
				<InfoCard>FMUNTENTH's goal was to attend the Cyber-Physical Systems and Internet-of-Things Week in San Antonio, Texas in May of 2023. F1TENTH Autonomous Racing gives a chance for teams all over the world to compete against one another and build a fully autonomous race car, one-tenth the size of a formula one vehicle. Each team involved is given a specific build specification and software. Our team will work to create the most efficient autonomous racing algorithm that will be tested with test trials and head-to-head races under various challenging conditions.</InfoCard>
			</div>
		</div>
	</main>
</Layout>
