---
import Layout from '../layouts/Layout.astro';
import InfoCard from '../components/InfoCard.astro';
---

<Layout title="Media - FMUNTENTH">
	<main>
		<div class="relative w-full h-[40rem]">
			<div class="grid place-items-center">
				<img width='400px' height ='400px' src="transparent.png" />
				<InfoCard>FMUNTENTH is a design team focused on competeing in F1TENTH, a competition to see who can write the best driving algorithm for a one-tenth scale racing vehicle.</InfoCard>
			</div>
		</div>
	</main>
</Layout>