---
import Layout from '../layouts/Layout.astro';
import InfoCard from '../components/InfoCard.astro';
import InfoCardHeader from '../components/InfoCardHeader.astro';
import MemberCard from '../components/MemberCard.astro';
import mun from '../content/sponsors/MUN_Logo.png'
---

<Layout title="Sponsors - FMUNTENTH">
	<main>
		<div class="relative w-full h-[40rem]">
			<div class="grid place-items-center">
				<InfoCardHeader subject="Why are we seeking sponsorships?">
						Every design competition comes with costs and we need your company's help to achieve our goal of attending the International Conference on Robotics and Automation (ICRA) in 2023 from May 29th to June 2nd in London, England.
					</InfoCardHeader>
                <InfoCardHeader subject="What do you get in return?">
						As a FMUNTENTH sponsor, your brand or company will be represented at the international competition with your logo on our vehicle’s chassis. This promotion will allow your company to be represented on an international stage at the competition. Additionally, this sponsorship will show that your company supports students and their desire to learn!
					</InfoCardHeader>
                <InfoCardHeader subject="Platinum Sponsors"></InfoCardHeader>
                <InfoCardHeader subject="Gold Sponsors"></InfoCardHeader>
                <InfoCardHeader subject="Silver Sponsors"></InfoCardHeader>
                <InfoCardHeader subject="Bronze Sponsors"></InfoCardHeader>
                <div class="grid grid-cols-2 gap-4 max-w-4xl">
						<MemberCard name="Memorial University of Newfoundland Engineering and Applied Science" linkedinURL="https://www.linkedin.com/showcase/faculty-of-engineering-and-applied-science-memorial-university/?originalSubdomain=ca" photoPath={mun}>
							
						</MemberCard>
                </div>
			</div>
		</div>
	</main>
</Layout>