<footer class="fixed bottom-0 left-0 z-20 p-4 w-full border-t shadow md:flex md:items-center md:justify-between md:p-6 bg-stone-800 border-gray-600">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="/" class="hover:underline">FMUNTenth</a>. All Rights Reserved.
    </span>
</footer>